body {
    display: grid;
    justify-content: center;
    background: beige;
    padding-top: 10px;
    font-family: 'Press Start 2P', cursive;
}


.container {
    display: grid;
    width: 850px;
    height: 650px;
    background: white;
    border-radius: 20px;
    border: 2px solid black;
}

.container .titles .main-title {
    text-align: center;
}

.container .titles .fame-title{
    text-align: center;
    
}

.insert-coin{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 300px;
    text-align: center;
    justify-content: space-between;

}

.headers-fame{
    display: flex;
    padding: 5px;
    margin: 10px;
    margin-top: -390px;
}

.item{
    border: 2px sol;
    flex: 1;
    padding: 4px;
}

.headers-fame .player-title {
    display: flex;

    padding-right: 0px;
}

.scores{
    display: flex;
    margin-left: 100px;
}

.position {
    display: flex;
    margin-left: 40px;
    margin-right: 80px;
}



