@font-face {
    font-family: 'GoodBrush';
    src: url('fonts/GoodBrush.otf');
}

body {
    display: grid;
    justify-content: center;
    background: beige;
    padding-top: 55px;
}

.main-title{
    display: grid;
    font-family: 'GoodBrush';
    grid-area: mainTitle;
    justify-content: center;
    margin-bottom: 5px;
}

.level-title{
    display: grid;
    grid-area: levelTitle;
    justify-content: center;
    margin-top: 5px;
}

.register {
    display: grid;
    grid-area: userInput;
    justify-content: center;
    text-align: center;
    grid-template-columns: [first] 300px;
}

.user-name{
    padding-bottom: 10px;
    font-size: auto;
}

.button-start{
    background:#87CEEB;
    margin-bottom: 10px;
    padding-top: 5px;
    text-align: center;
    padding-bottom: 5px;
    margin-left: 20px;
    border: #04296e;
}


.hangman-box {
    display: grid;
    grid-area: leftFrame;
    padding-top: 5px;
    justify-content: center;
    align-items: center;
}
.hangman-box img {
    width: 350px;
    height: 500px;
}

.attemps-counter {
    display: grid;
    grid-area: attemps;
    justify-content: center;
    padding-top: 100px;
}
.word-display {
    display: flex;
    gap: 10px;
    grid-area: words;
    list-style: none;
    align-items: baseline;
    justify-content: center;
}
.word-display .letter {
    width: 28px;
    font-size: xx-large;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 3px solid black;

    margin-bottom: 20px;
}

.word-display .letter.guessed {
    border-color: transparent;
    margin: 0px 0 35px;
}

.keyboard-buttons {
    display: flex;
    grid-area: keyboard;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-left: 50px;
    margin-bottom: 25px;
}
.keyboard-buttons button {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    width: calc(100% / 9 - 5px);
    padding: 7px;
    background:#87CEEB;
    text-transform: capitalize;  
    border: #04296e;
}

.keyboard-buttons button [disabled]{
    opacity: 0.6;
    pointer-events: none;
}

.keyboard-buttons button:hover{
    background:#6495ED;
}

.game-frame {
    display: grid;
    grid-area: rightFrame;
    justify-content: center;
    grid-template-areas: 
    "attemps"
    "words"
    "keyboard";
}

.main-container {
    width: 950px;
    background: white;
    border-radius: 20px;
    display: grid;
    grid-template-areas: 
    "leftFrame rightFrame";
}

.header {
    display: grid;
    grid-template-areas: 
    "mainTitle"
    "levelTitle"
    "userInput";

}


