
* {
    margin: 0%;
    border: 0%;
    padding: 0px;
}

body {
    background-color: rgb(108, 108, 108);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100%;
    width: 100%;
    margin: 1%;
    flex: 1;
}


.header {
    margin: 1%;
    padding: 2%;
    height: 50%;
    width: 54%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    flex-wrap: wrap;
}

.header .level-title {
    padding: 1%;
    margin-top: 1.5%;
    border: 0.1vh solid;
    border-color: black;
    background-color: grey;
    align-content: space-around;
    flex: 1;
}

.main-container {
    margin: 1%;
    height: 10%;
    width: 54%;
    background-color: white;
    padding: 2%;
    display: flex;
    display: row;
    border-radius: 10px;
    border: 2px solid black;
}

.hangman-box {
    display: flex;
    margin-right: 10%;
    padding: 5%;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 100%;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.hangman-box img {
    width: 100%;
    height: 100%;
    align-self: flex-start;
    margin-right: 10%;
    flex: 1;
}

.game-frame {
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.attemps-counter {
    margin-top: 1%;
    background-color: #d5d7ce;
    align-self: center;
    padding: 4%;
    border-right: #000000 solid;
    border-width: 0.5px;
    flex: 2;
}

.victory-counter {
    margin-top: 1%;
    background-color: #d5d7ce;
    align-self: center;
    padding: 4%;
    border-left: #000000 solid;
    border-right: #000000 solid;
    border-width: 0.5px;
    flex: 2;
}

.score-counter {
    margin-top: 1%;
    background-color: #d5d7ce;
    align-self: center;
    padding: 4%;
    border-left: #000000 solid;
    border-width: 0.5px;
    flex: 2;
}



.word-display {
    display: flex;
    list-style: none;
    flex-direction: row;
    gap: 5%;
    align-items: baseline;
    justify-content: center;
    margin-top: 20%;
    margin-left: 2%;
    margin-right: 2%;

}

.word-display .letter {
    width: 100%;
    /* take up full width of container */
    font-size: xx-large;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
  

    border-bottom: 5px solid black;
    /* set border width to a fixed value */

}

.board {
    display: flex;
    margin: 5%;
    flex-direction: row;
}

.word-display .letter-guessed {
    width: 100%;
    /* take up full width of container */
    font-size: x-large;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 0px solid;

}

.keyboard-buttons {
    margin-top: 10%;
    display: flex;
    grid-area: keyboard;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-left: 50px;
    margin-bottom: 1%;
}
.keyboard-buttons button {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    width: calc(100% / 9 - 5px);
    padding: 7px;
    background: #aab095;
    text-transform: capitalize;
    border: #000000;
    border: 2px;
}

.keyboard-buttons button:hover {
    background: blue;
}

.pregame-modal {
    opacity: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nshow {
    display: none;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: -9999px;
}


.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 5%;
    border-radius: 10px;
    color: black;
    text-align: center;
}

.modal-content h2 {
    font-size: 36px;
    /* make the title big */
    margin-bottom: 1%;
    /* add some space between the title and the rest of the content */
}

.modal-content p {
    margin: 1%;
}

.level-buttons {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: space-between;
    /* space the level buttons evenly */
    margin: 1%;
    /* add some space between the level buttons and the start button */
}

.level-buttons button {
    width: calc(33.33% - 10px);
    /* make the level buttons equal width */
    margin: 5px;
    /* add some space between the level buttons */
    padding: 7px;
    background: #aab095;
    text-transform: capitalize;
    border: #000000;

}

.level-buttons button:hover {
    background: #98a371;
}

.initiate button {
    width: 98%;
    /* make the start button full width */
    margin-top: 3%;
    /* add some space between the level buttons and the start button */
    text-transform: capitalize;
    border: #000000;
    padding: 2%;
    background: #edefe4;
    text-transform: capitalize;
    border: #000000;
    align-self: center;
    font-weight: bold;
}

.initiate button:hover {
    background: #aab095;
}

.duringGame-modal {
    opacity: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color: white;
    padding: 5%;
    border-radius: 10px;
    color: black;
    text-align: center;
  }
  
  .modal-content h2 {
    font-size: 36px; /* make the title big */
    margin-bottom: 1%; /* add some space between the title and the rest of the content */
  }

.duringGame-modal button {
    margin: 10%;
    /* add some space between the level buttons */
    padding: 7%;
    background: #aab095;
    text-transform: capitalize;
    border: #000000;
}
  
  .level-buttons button {
    width: calc(33.33% - 10px); /* make the level buttons equal width */
    margin: 5px; /* add some space between the level buttons */
    padding: 7px;
    background:#aab095;
    text-transform: capitalize;  
    border: #000000;

.duringGame-modal button:hover {
    background: #98a371;
    text-transform: capitalize;
    border: #000000;
}

.postgame-modal {
    opacity: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.postgame-modal h2 {
    margin-top: 5%;
    margin-bottom: 5%;
}

.postgame-modal p {
    font-size: 120%;
    margin: 1%;
    padding: 1%;
}

.postgame-modal button {
    margin: 5%;
    /* add some space between the level buttons */
    padding: 7%;
    background: #aab095;
    text-transform: capitalize;
    border: #000000;
}

.postgame-modal button:hover {
    background: #98a371;
}

/* Small screens */
@media only screen and (max-width: 376px) {
    .header {
        height: 100%;
        font-size: 70%;
        width: 85%;
        text-align: center;
    }

    .word-display {
        max-width: 100%;
        width: 50%;
        margin-top: 10%;
        margin-bottom: 0.1%;
        align-items: center;
        align-self: center;
    }

    .main-container {
        height: 100%;
        width: 85%;
        margin: 5%;
        display: flex;
        flex-direction: column;
        padding: 1%;
        padding-bottom: 0.1%;
    }

    .hangman-box {
        width: 40%;
        height: 30%;
        margin-right: 2vw;
        background-color: rgb(255, 255, 255);
        justify-content: center;
    }

    .hangman-box img {
        margin-right: 10%;
        max-width: 100%;
        align-self: center;
        justify-content: cen;
        margin: 1%;

    }

    .keyboard-buttons {
        width: 100%;
        margin: 0.5% 5%;
        margin-bottom: 0.1%;
        flex-direction: row;
        padding: 10%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-self: center;

    }

    .keyboard-buttons button {
        margin: 0.1%;
        max-width: 100%;
        align-self: center;
        font-size: 110%;
        width: 15%;
    }

    .pregame-modal {
        opacity: 1;
        width: 90%;
        height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content h2 {
        font-size: 30px;
        /* make the title big */
        margin-bottom: 1%;
        /* add some space between the title and the rest of the content */
    }

    .modal-content p {
        font-size: 17px;
        margin: 1%;
    }

    .board {
        font-size: 70%;
    }
}

/* Medium screens */
@media only screen and (min-width: 414px) and (max-width: 600px) {
    .header {
        height: 100%;
        font-size: 70%;
        width: 85%;
        text-align: center;
    }

    .word-display {
        max-width: 100%;
        width: 50%;
        margin-top: 10%;
        margin-bottom: 0.1%;
        align-items: center;
        align-self: center;
    }

    .main-container {
        height: 100%;
        width: 85%;
        margin: 5%;
        display: flex;
        flex-direction: column;
        padding: 1%;
        padding-bottom: 0.1%;
    }

    .hangman-box {
        width: 40%;
        height: 30%;
        margin-right: 2vw;
        background-color: rgb(255, 255, 255);
        justify-content: center;
    }

    .hangman-box img {
        margin-right: 10%;
        max-width: 100%;
        align-self: center;
        justify-content: cen;
        margin: 1%;

    }

    .keyboard-buttons {
        width: 100%;
        margin: 0.5% 5%;
        margin-bottom: 0.1%;
        flex-direction: row;
        padding: 10%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-self: center;

    }

    .keyboard-buttons button {
        margin: 0.1%;
        max-width: 100%;
        align-self: center;
        font-size: 110%;
        width: 15%;
    }

    .pregame-modal {
        opacity: 1;
        width: 90%;
        height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content h2 {
        font-size: 30px;
        /* make the title big */
        margin-bottom: 1%;
        /* add some space between the title and the rest of the content */
    }

    .modal-content p {
        font-size: 17px;
        margin: 1%;
    }

    .board {
        font-size: 70%;
    }
    
